.progress {
  height: 5px;
  border-radius: 0;
}
.video {
  width: 24.9%;
  float: left;
  position: relative;
  margin-right: 1px;
}
.video h3 {
  font-size: 14px;
  color: white;
  background: black;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 94%;
  padding: 3%;
  line-height: 1.2;
}
.video img {
  cursor: pointer;
}
.big-video {
  text-align: center;
}
iframe {
  height: 450px;
  width: 800px;
}
