.progress {
  height: 5px;
  border-radius: 0;
}
.video {
  display: block;
  position: relative;
}
.video h3 {
  font-size: 14px;
  color: white;
  background: black;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  line-height: 1.2;
}
.video h3 span {
  padding: 3%;
  display: block;
}
.video img {
  cursor: pointer;
}
.search-form input {
  margin-bottom: 0;
}
.container {
  width: 100%;
  max-width: 100%;
}
.rating {
  height: 8px;
  background-color: #C60F13;
  margin-bottom: 30px;
  margin-top: -2px;
}
.rating .like {
  height: 8px;
  background-color: #457A1A;
}
