body {
  font-family: 'Source Sans Pro', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
}
.meta h3 {
  font-size: 40px;
}
.meta ul {
  list-style: none;
  margin: 0 0 20px;
  padding: 0;
}
.meta ul li {
  font-size: 18px;
}
.progress {
  height: 5px;
  border-radius: 0;
}
.back-menu {
  font-size: 65px;
}
.video {
  display: block;
  position: relative;
  text-align: center;
  background: black;
}
.video h3 {
  text-align: left;
  font-size: 14px;
  color: white;
  background: black;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  line-height: 1.2;
}
.video h3 span {
  padding: 3%;
  display: block;
  font-weight: normal;
}
.video img {
  cursor: pointer;
}
.search-form input {
  margin-bottom: 0;
}
.container {
  width: 100%;
  max-width: 100%;
}
.rating {
  height: 8px;
  background-color: #C60F13;
  margin-bottom: 30px;
  margin-top: -2px;
}
.meta .rating {
  margin-bottom: 20px;
}
.meta a:hover {
  color: black;
}
.rating .like {
  height: 8px;
  background-color: #457A1A;
}
.description {
  max-height: 250px;
  overflow-x: hidden;
  padding-right: 10px;
}
.meta ::-webkit-scrollbar, .meta ::-webkit-scrollbar:horizontal {
  width: 6px;
}
.meta ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.meta ::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #ccc;
}
