body {
  font-family: 'Source Sans Pro', sans-serif;
}
.ng-cloak {
  display: none;
}
.container {
  margin-top: 25px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
}
.progress {
  height: 5px;
  border-radius: 0;
}
.expanded-info a,
.toggle-menu,
.back-menu {
  font-size: 30px;
  margin-bottom: 8px;
}
.video {
  display: block;
  position: relative;
  text-align: center;
  background: black;
}
.related {
  max-height: 475px;
  overflow-y: scroll;
}
.related .four {
  width: 100%;
  float: none;
}
.video h3 {
  text-align: left;
  font-size: 14px;
  color: white;
  background: black;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  line-height: 1.2;
}
.video h3 span {
  padding: 3%;
  display: block;
  font-weight: normal;
}
.video img {
  cursor: pointer;
  margin-top: 26px;
}
.search-form input {
  margin-bottom: 0;
}
.container {
  width: 100%;
  max-width: 100%;
}
.rating {
  height: 8px;
  background-color: #C60F13;
  margin-bottom: 30px;
  margin-top: -2px;
}
.meta h3 {
  font-size: 40px;
}
.meta h3 a {
  color: #222;
}
.meta h3 a:hover {
  color: #2ba6cb;
}
.meta ul {
  list-style: none;
  margin: 0 0 20px;
  padding: 0;
}
.meta ul li {
  font-size: 18px;
}
.meta .rating {
  margin-bottom: 20px;
}
.meta a:hover {
  color: black;
}
.rating .like {
  height: 8px;
  background-color: #457A1A;
}
.description {
  max-height: 250px;
  overflow-x: hidden;
  padding-right: 10px;
}
.sidebar ::-webkit-scrollbar, .sidebar ::-webkit-scrollbar:horizontal {
  width: 6px;
}
.sidebar ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.sidebar ::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #ccc;
}
.fixed {
  width: 25%;
  margin-top: 25px;
  padding: 0 15px;
  height: 100%;
  overflow-y: auto;
}
@media only screen and (max-width: 767px) {
  .fixed {
    position: static;
    width: 100%;
    margin: 0;
    padding: 0;
  }
}
.expanded-info a.icon {
  display: inline-block !important;
  margin-right: 15px;
}
.expanded-info h3 {
  width: 75%;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: -40px;
  text-align: center;
}
.expanded-info h3 a {
  color: #222;
}
.expanded-info h3 a:hover {
  color: #2ba6cb;
}
.duration {
  float: right;
  position: relative;
  top: -19px;
  background: rgba(0,0,0,0.8);
  padding: 2px 5px;
  color: white;
  right: 0px;
}

.tabs.vertical li ul {
  padding-top:10px;
  padding-bottom:10px;
  border-left:solid 3px #eee;
  border-right:solid 1px #eee;
  margin-left:-4px;
  -webkit-box-shadow:1px 0 0 #FFF inset;
  -moz-box-shadow:1px 0 0 #FFF inset;
  box-shadow:1px 0 0 #FFF inset;
}

.tabs.vertical li ul li a {
  cursor: pointer;
  font-weight:400;
  color:#666!important;
  background:#fff!important;
  padding:7px 0 7px 20px;
  border: none;
}

.tabs.vertical li ul li a:hover {
  color:#111!important;
}

.tabs.vertical li ul li.active a {
  font-weight:700;
  color:#222!important;
}

.tabs.vertical li ul li,.tabs.vertical li ul li.active {
  border:none;
}
