<div class="show-for-medium-up nav-section">
    <h4>Trending</h4>
    <ul class="side-nav">
        <li ng-class="{active: location.path() == '/browse'}"><a ng-href="#/browse">Everything</a></li>
        <li ng-class="{active: location.path().indexOf(category.key) > -1}" ng-repeat="category in categories | orderBy: 'snippet.title' | filter: {snippet: {assignable: true}}"><a ng-href='#/browse/{{category.id}}'>{{category.snippet.title}}</a></li>
    </ul>
</div>

<div class="show-for-medium-up nav-section">
    <h4>Toogles Links</h4>
    <ul class="side-nav">
        <li><a href="https://chrome.google.com/webstore/detail/toogles/kljfdbkcacjeogbiiiikahgkmmlgdekf">Chrome Extension</a></li>
        <li><a href="http://marklets.com/View+YouTube+video+on+Toogles.aspx">Bookmarklet</a></li>
        <li><a href="http://github.com/mikecrittenden/toogles">Code on GitHub</a></li>
        <li><a href="http://twitter.com/mcrittenden">Twitter (@mcrittenden)</a></li>
    </ul>
</div>
