<div class="three columns">
  <div class="fixed">
    <form class="search-form" ng-submit="location.path('/search/' + query)">
      <input ng-model="query" type="text" placeholder="fluffy bunnies">
      <button class="button expand">Search YouTube</button>
    </form>
    <div ng-include src="'views/' + section + '.html'"></div>
  </div>
</div>
<div when-scrolled="loadMore()" class="nine columns">
  <div ng-repeat="video in videos" class="four columns">
    <a href="#/view/{{urlToID(video.media$group.yt$videoid.$t)}}" class="video">
      <h3><span>{{video.title.$t}}</span></h3>
      <img ng-src="{{video.media$group.media$thumbnail[1].url}}" />
      <div class="duration">{{formatDuration(video.media$group.yt$duration.seconds)}}</div>
      <div class="rating">
        <div class="like" style="width: {{100 * (video.gd$rating.average / 5)}}%;"></div>
      </div>
    </a>
  </div>
</div>

