<!--<div class="medium-3 columns">
  <div class="fixed">
    <form class="search-form" ng-submit="location.path('/search/' + query)">
      <input ng-model="query" type="text" placeholder="fluffy bunnies">
      <button class="button small expand">Search YouTube</button>
    </form>
    <div ng-include src="'views/' + section + '.html'"></div>
  </div>
</div>
<div when-scrolled="loadMore()" class="medium-9 video-list columns">
  <div ng-include src="'views/' + resulttype + '.html'"></div>
</div>-->
<div style="margin: 0 auto; max-width: 600px; margin-top: 100px;">
<h1>Toogles is temporarily broken!</h1><br />
<p>
    YouTube killed version 2 of the API Toogles uses without doing a good job
    of giving developers advance notice. So I have some work to do to upgrade to version 3.
</p>
    <p>Toogles will be back soon! Don't give up on me!</p>
</div>