<div ng-show="videos.length == 1" ng-repeat="video in videos" class="big-video">
  <h3>{{video.title.$t}}</h3>
  <iframe src="{{embed}}" width="800px" height"450px" frameborder="0"></iframe>
</div>

<div ng-show="videos.length > 1" ng-repeat="video in videos" class="video">
  <h3>{{video.title.$t}}</h3>
  <img src="{{video.media$group.media$thumbnail[0].url}}" />
  <div class="progress">
    <div class="bar bar-success" style="width: {{100 * (video.gd$rating.average / 5)}}%;"></div>
    <div class="bar bar-danger" style="width: {{100 - 100 * (video.gd$rating.average / 5)}}%;"></div>
  </div>
</div>
