<ul class="vertical tabs" ng-show="location.path().indexOf('/search') > -1">
  <li>
    <a>Type</a>
    <ul>
      <li ng-class="{active: $parent.searchtype == 'videos'}"><a ng-click="$parent.location.search('searchtype', 'videos')">Videos</a></li>
      <li ng-class="{active: $parent.searchtype == 'playlists'}"><a ng-click="$parent.location.search('searchtype', 'playlists')">Playlists</a></li>
    </ul>
  </li>
  <li ng-show="$parent.searchtype != 'playlists'">
    <a>Sort</a>
    <ul>
      <li ng-class="{active: !$parent.searchsort}"><a ng-click="$parent.location.search('searchsort', null)">Relevance</a></li>
      <li ng-class="{active: $parent.searchsort == 'published'}"><a ng-click="$parent.location.search('searchsort', 'published')">Upload date</a></li>
      <li ng-class="{active: $parent.searchsort == 'viewCount'}"><a ng-click="$parent.location.search('searchsort', 'viewCount')">View count</a></li>
      <li ng-class="{active: $parent.searchsort == 'rating'}"><a ng-click="$parent.location.search('searchsort', 'rating')">Rating</a></li>
    </ul>
  </li>
  <li ng-show="$parent.searchtype != 'playlists'">
    <a>Upload Date</a>
    <ul>
      <li ng-class="{active: !$parent.searchtime}"><a ng-click="$parent.location.search('searchtime', null)">Anytime</a></li>
      <li ng-class="{active: $parent.searchtime == 'today'}"><a ng-click="$parent.location.search('searchtime', 'today')">Today</a></li>
      <li ng-class="{active: $parent.searchtime == 'this_week'}"><a ng-click="$parent.location.search('searchtime', 'this_week')">This week</a></li>
      <li ng-class="{active: $parent.searchtime == 'this_month'}"><a ng-click="$parent.location.search('searchtime',  'this_month')">This month</a></li>
    </ul>
  </li>
  <li ng-show="$parent.searchtype != 'playlists'">
    <a>Duration</a>
    <ul>
      <li ng-class="{active: !$parent.searchduration}"><a ng-click="$parent.location.search('searchduration', null)">All</a></li>
      <li ng-class="{active: $parent.searchduration == 'short'}"><a ng-click="$parent.location.search('searchduration', 'short')">Short (&lt; 4 minutes)</a></li>
      <li ng-class="{active: $parent.searchduration == 'medium'}"><a ng-click="$parent.location.search('searchduration', 'medium')">Medium (4-20 minutes</a></li>
      <li ng-class="{active: $parent.searchduration == 'long'}"><a ng-click="$parent.location.search('searchduration', 'long')">Long (&gt; 20 minutes)</a></li>
    </ul>
  </li>
</ul>
