<div when-scrolled="loadMore()" class="three columns">
  <form class="search-form" ng-submit="location.path('/search/' + query)">
    <input ng-model="query" type="text" placeholder="fluffy bunnies">
    <button class="button expand">Search YouTube</button>
  </form>
  <ul class="hide-for-small vertical tabs">
    <li ng-class="{active: location.path().indexOf(category.key) > 1}" ng-repeat="category in categories"><a ng-click="location.path('/browse/' + category.key)" $href="#">{{category.title}}</a></li>
  </ul>
</div>
<div class="nine columns">
  <div ng-repeat="video in videos" class="four columns">
    <div href="#" ng-click="location.path('/view/' + urlToID(video.id.$t))" class="video">
      <h3><span>{{video.title.$t}}</span></h3>
      <img src="{{video.media$group.media$thumbnail[0].url}}" />
      <div class="rating">
        <div class="like" style="width: {{100 * (video.gd$rating.average / 5)}}%;"></div>
      </div>
    </div>
  </div>
</div>

