<div class="meta sidebar">
  <script src="https://apis.google.com/js/platform.js"></script>
  <h3><a href="http://youtube.com/channel/{{user.id}}">{{user.snippet.title}}</a></h3>
  <ul>
    <li><i class="fa fa-eye"></i>&nbsp;&nbsp;{{user.statistics.viewCount | number:0}} views</li>
    <li><i class="fa fa-user"></i>&nbsp;&nbsp;&nbsp;{{user.statistics.subscriberCount | number:0}} subscribers</li>
    <li><i class="fa fa-calendar"></i>&nbsp;&nbsp;Joined {{user.snippet.publishedAt | date}}</li>
    <li><i class="fa fa-plus"></i>&nbsp;&nbsp;&nbsp;<a href="http://youtube.com/channel/{{user.id}}" target="_blank">Subscribe</a></li>
  </ul>
  <p class="hide-for-small description" ng-bind-html="user.snippet.description | htmlify"></p>
  <ul class="vertical tabs">
    <!--<li ng-class="{active: location.path().split('/').length == 3}"><a ng-href="#/user/{{user.id)}}/">Uploads</a></li>-->
    <!--<li ng-class="{active: location.path().indexOf('subscriptions') > -1}"><a ng-href="#/user/{{user.id}}/subscriptions">Subscriptions</a></li>-->
    <!--<li ng-class="{active: location.path().indexOf('favorites') > -1}"><a ng-href="#/user/{{user.id}}/favorites">Favorites</a></li>-->
    <!--<li ng-class="{active: location.path().indexOf('playlists') > -1}"><a ng-href="#/user/{{user.id}}/playlists">Playlists</a></li>-->
  </ul>
</div>
